In [2]:
## Importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
## Importng the data

spam_data = pd.read_csv("C:/Users/square/Desktop/Machine_Learning_Projects/Spam_Classification/spam.csv", encoding='latin-1')
spam_data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [6]:
## Getting the info of the data

spam_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
v1            5572 non-null object
v2            5572 non-null object
Unnamed: 2    50 non-null object
Unnamed: 3    12 non-null object
Unnamed: 4    6 non-null object
dtypes: object(5)
memory usage: 217.7+ KB

In [7]:
## Firstly dropping the last 3 variable.

spam_data.drop(columns = ['Unnamed: 2', "Unnamed: 3", "Unnamed: 4"], inplace = True)
spam_data.head()

     v1                                                 v2
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [8]:
## Checking for any NAN value

spam_data.isnull().sum()

v1    0
v2    0
dtype: int64

Here, Lets assign a value of a ham = 0 which means it is 'Not Spam' & spam = 1 which means it is 'Spam'.
And changing the 'v1' to labels & changing 'v2' to messages.

In [9]:
## Changing the columns name.

spam_data.rename(columns = {'v1': 'labels', 'v2': 'messages'}, inplace = True)

In [10]:
## Viewing the data

spam_data.head()

  labels                                           messages
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [11]:
## Viewing the types of response.

spam_data['labels'].value_counts()

ham     4825
spam     747
Name: labels, dtype: int64

In [12]:
## Getting the percentage of each repsonse.

ham = len(spam_data[spam_data['labels'] == 'ham'])/len(spam_data) * 100
print("% of ham repsonse:", ham)

spam = len(spam_data[spam_data['labels'] == 'spam'])/len(spam_data) * 100
print("% of spam response: ", spam)

% of ham repsonse: 86.59368269921033
% of spam response:  13.406317300789663

Since 'ham' response is dominating the reponse 'spam'. May be there can be a chance of Class Imbalance problems.

In [13]:
## Describe

spam_data.describe()

       labels                messages
count    5572                    5572
unique      2                    5169
top       ham  Sorry, I'll call later
freq     4825                      30

In [14]:
## Getting the len of the text of messages variable

spam_data['length'] = spam_data['messages'].apply(len)
spam_data.head()

  labels                                           messages  length
0    ham  Go until jurong point, crazy.. Available only ...     111
1    ham                      Ok lar... Joking wif u oni...      29
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3    ham  U dun say so early hor... U c already then say...      49
4    ham  Nah I don't think he goes to usf, he lives aro...      61

In [15]:
## MApping the value of 'ham' & 'spam' into integer.

spam_data['labels'] = spam_data.labels.map({'ham': 0 , 'spam' : 1})
spam_data.head()

   labels                                           messages  length
0       0  Go until jurong point, crazy.. Available only ...     111
1       0                      Ok lar... Joking wif u oni...      29
2       1  Free entry in 2 a wkly comp to win FA Cup fina...     155
3       0  U dun say so early hor... U c already then say...      49
4       0  Nah I don't think he goes to usf, he lives aro...      61

In [16]:
## Separating  the variable data into X & Y.

X = spam_data.messages
Y = spam_data.labels

print(X.shape)
print(Y.shape)

(5572,)
(5572,)

In [17]:
## Dividing the data into training and testing.

from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size = 0.7, random_state = 42)

print("X_train : ", X_train.shape)
print("Y_train : ", Y_train.shape)
print("X_test :  ", X_test.shape)
print("Y_test :  ", Y_test.shape)

X_train :  (3900,)
Y_train :  (3900,)
X_test :   (1672,)
Y_test :   (1672,)

C:\Users\square\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [18]:
## CountVectorization

from sklearn.feature_extraction.text import CountVectorizer

## Vectorizing the text.
vect = CountVectorizer(stop_words='english')
vect

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [19]:
## Fitting on training data

vect.fit(X_train)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), preprocessor=None, stop_words='english',
        strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
        tokenizer=None, vocabulary=None)

In [20]:
vect.vocabulary_

{'review': 5179,
 'fantastic': 2533,
 'nokia': 4325,
 'gage': 2788,
 'game': 2795,
 'deck': 2013,
 'club': 1687,
 'www': 6835,
 'cnupdates': 1701,
 'com': 1730,
 'newsletter': 4294,
 'unsubscribe': 6425,
 'alerts': 832,
 'reply': 5127,
 'word': 6784,
 'just': 3510,
 'got': 2914,
 'outta': 4507,
 'class': 1661,
 'gonna': 2895,
 'gym': 2988,
 'coming': 1742,
 'friday': 2738,
 'leave': 3661,
 'pongal': 4758,
 'news': 4293,
 'work': 6786,
 'place': 4689,
 'hi': 3105,
 'dear': 1998,
 'urgnt': 6451,
 'don': 2195,
 'know': 3581,
 'whats': 6703,
 'problem': 4871,
 'want': 6611,
 'tell': 6059,
 'wating': 6636,
 'friend': 2742,
 'says': 5321,
 'upping': 6439,
 'order': 4478,
 'grams': 2932,
 'lt': 3831,
 'gt': 2968,
 'telly': 6063,
 'brdget': 1340,
 'jones': 3483,
 'yes': 6886,
 'saw': 5317,
 'message': 4023,
 'new': 4289,
 'voicemail': 6554,
 '08719181513': 146,
 'yesterday': 6888,
 'true': 6315,
 'thinking': 6136,
 'day': 1988,
 'great': 2947,
 'ok': 4422,
 'floppy': 2650,
 'snappy': 5624,
 'happy': 3032,
 'gay': 2814,
 'chat': 1582,
 'service': 5408,
 'photo': 4655,
 'upload': 6437,
 '08718730666': 141,
 '10p': 245,
 'min': 4045,
 'stop': 5819,
 'texts': 6099,
 '08712460324': 109,
 'thing': 6131,
 'good': 2897,
 'thanx': 6107,
 'exams': 2455,
 'march': 3926,
 'ive': 3409,
 'revision': 5180,
 'fran': 2712,
 'boyf': 1330,
 'gotta': 2919,
 'interviw': 3362,
 'exeter': 2466,
 'bit': 1233,
 'worried': 6795,
 'big': 1215,
 'brother': 1377,
 'alert': 831,
 'computer': 1769,
 'selected': 5377,
 '10k': 244,
 'cash': 1517,
 '150': 279,
 'voucher': 6562,
 '09064018838': 195,
 'ntt': 4364,
 'po': 4727,
 'box': 1314,
 'cro1327': 1896,
 '18': 295,
 'bt': 1390,
 'landline': 3615,
 'cost': 1840,
 '150ppm': 285,
 'mobiles': 4102,
 'vary': 6493,
 'telling': 6060,
 'coulda': 1848,
 'real': 5022,
 'valentine': 6481,
 'wasn': 6622,
 'pick': 4663,
 'gent': 2832,
 'trying': 6325,
 'contact': 1805,
 'weekends': 6670,
 'draw': 2227,
 'shows': 5502,
 'won': 6773,
 '1000': 237,
 'prize': 4866,
 'guaranteed': 2970,
 '09064012160': 193,
 'claim': 1655,
 'code': 1710,
 'k52': 3512,
 'valid': 6483,
 '12hrs': 267,
 'sure': 5938,
 'sick': 5514,
 'time': 6183,
 'sorry': 5670,
 'uncle': 6387,
 'll': 3748,
 'touch': 6265,
 'creep': 1890,
 'kallis': 3522,
 'home': 3147,
 'ground': 2961,
 'amla': 858,
 'town': 6270,
 'durban': 2274,
 'jus': 3509,
 'finish': 2609,
 'lunch': 3841,
 'way': 6641,
 'lor': 3792,
 'tot': 6262,
 'dun': 2271,
 'wan': 6606,
 'stay': 5790,
 'sch': 5329,
 'today': 6216,
 'rofl': 5210,
 'buzz': 1430,
 'hey': 3101,
 'love': 3809,
 'think': 6133,
 'hope': 3164,
 'goes': 2882,
 'did': 2098,
 'sleep': 5574,
 'miss': 4071,
 'babe': 1076,
 'long': 3778,
 'moment': 4123,
 'loving': 3819,
 'smile': 5604,
 'training': 6278,
 'shola': 5476,
 'college': 1725,
 'medicine': 3990,
 'visit': 6542,
 'academic': 711,
 'department': 2054,
 'secretary': 5361,
 'current': 1931,
 'situation': 5554,
 'ask': 979,
 'transfer': 6284,
 'check': 1590,
 'sagamu': 5274,
 'lautech': 3644,
 'vital': 6546,
 'completes': 1762,
 'medical': 3989,
 'education': 2312,
 'nigeria': 4303,
 'expensive': 2477,
 'unless': 6416,
 'getting': 2845,
 'citizen': 1651,
 'rates': 4999,
 'zealand': 6925,
 'haven': 3047,
 'heard': 3065,
 'answering': 890,
 'guessing': 2976,
 'flaked': 2633,
 'said': 5275,
 'jb': 3445,
 'edison': 2308,
 'rightly': 5191,
 'fool': 2674,
 'questions': 4955,
 'wise': 6743,
 'man': 3907,
 'answer': 887,
 'speechless': 5706,
 'viva': 6548,
 'gm': 2872,
 'doing': 2185,
 'project': 4886,
 'frens': 2732,
 'captain': 1489,
 'room': 5218,
 'valued': 6487,
 'customer': 1938,
 'pleased': 4710,
 'advise': 771,
 'following': 2669,
 'recent': 5048,
 'mob': 4100,
 'awarded': 1057,
 '1500': 280,
 'bonus': 1289,
 '09066364589': 212,
 'eerie': 2318,
 'tones': 6236,
 '4u': 482,
 'rply': 5234,
 'tone': 6235,
 'title': 6197,
 '8007': 585,
 'dracula': 2223,
 'titles': 6198,
 'ghost': 2849,
 'addamsfa': 747,
 'munsters': 4196,
 'exorcist': 2472,
 'twilight': 6349,
 'getzed': 2846,
 'uk': 6375,
 'pobox36504w45wq': 4735,
 '150p': 281,
 'hear': 3064,
 'probably': 4870,
 'tomorrow': 6233,
 'later': 3636,
 'tonight': 6242,
 'going': 2887,
 'ya': 6861,
 'vikky': 6526,
 'vl': 6549,
 'witin': 6751,
 'mins': 4058,
 'il': 3274,
 'da': 1953,
 'todays': 6217,
 'meet': 3993,
 'la': 3598,
 'set': 5411,
 'let': 3683,
 'noe': 4320,
 'details': 2077,
 'care': 1496,
 'understand': 6396,
 'pls': 4717,
 'dont': 2198,
 'play': 4701,
 'life': 3696,
 'eaten': 2296,
 'sitting': 5553,
 'staring': 5774,
 'juicy': 3499,
 'pizza': 4687,
 'eat': 2295,
 'meds': 3991,
 'ruining': 5247,
 'yeah': 6874,
 'haha': 2994,
 'thinkin': 6135,
 'yijue': 6893,
 'regarding': 5081,
 '3230': 402,
 'textbook': 6091,
 'intro': 3363,
 'algorithms': 837,
 'second': 5358,
 'edition': 2309,
 'selling': 5383,
 '50': 487,
 'sir': 5544,
 'waiting': 6589,
 'year': 6875,
 'looks': 3786,
 'like': 3704,
 'wrong': 6820,
 'kappa': 3529,
 'guys': 2985,
 'numbers': 4371,
 'phone': 4651,
 'text': 6089,
 'mmmmm': 4092,
 'sooooo': 5667,
 'wake': 6590,
 'words': 6785,
 'morning': 4144,
 'mmmm': 4091,
 'fuck': 2762,
 'lion': 3727,
 'devouring': 2085,
 'kiss': 3571,
 'sea': 5352,
 'vijay': 6524,
 'talk': 6005,
 'jaya': 3441,
 'tv': 6345,
 'slave': 5573,
 'pictures': 4669,
 'bright': 1359,
 'light': 3701,
 'cell': 1545,
 'friends': 2743,
 'plan': 4693,
 'valentines': 6482,
 'url': 6453,
 'fancy': 2530,
 'shag': 5428,
 'interested': 3358,
 'sextextuk': 5419,
 'txt': 6352,
 'xxuk': 6851,
 'suzy': 5952,
 '69876': 541,
 'txts': 6360,
 'msg': 4168,
 'tncs': 6211,
 'website': 6658,
 'sms': 5615,
 'services': 5409,
 'inclusive': 3305,
 'credits': 1889,
 'goto': 2918,
 'comuk': 1772,
 'net': 4279,
 'login': 3766,
 'extra': 2493,
 'charge': 1571,
 'help': 3085,
 '08700469649': 69,
 'box420': 1324,
 'ip4': 3374,
 '5we': 514,
 'eh': 2326,
 'leh': 3672,
 'din': 2119,
 'ur': 6445,
 'sad': 5268,
 'lar': 3625,
 'watching': 6632,
 'office': 4408,
 'urgent': 6449,
 '09066612661': 218,
 '5000': 489,
 'luxury': 3848,
 'canary': 1477,
 'islands': 3392,
 'holiday': 3142,
 'await': 1053,
 'collection': 1723,
 'cs': 1905,
 'sae': 5269,
 'award': 1056,
 '20m12aq': 324,
 '16': 291,
 'ûï': 6942,
 'gud': 2972,
 'mrng': 4165,
 'hav': 3046,
 'nice': 4298,
 'house': 3190,
 'maid': 3891,
 'murderer': 4200,
 'coz': 1865,
 'murdered': 4199,
 'th': 6100,
 'january': 3435,
 'public': 4919,
 'govt': 2923,
 'instituitions': 3352,
 'closed': 1680,
 'including': 3304,
 'post': 4781,
 'supports': 5932,
 'ass': 989,
 'srt': 5757,
 'thnk': 6144,
 'ps3': 4914,
 'usb': 6458,
 'watch': 6628,
 'men': 4013,
 'need': 4265,
 'little': 3740,
 'experience': 2478,
 'american': 855,
 'voice': 6553,
 'completely': 1761,
 'form': 2695,
 'clark': 1659,
 'utter': 6472,
 'waste': 6624,
 'oh': 4418,
 'really': 5029,
 'perform': 4619,
 'write': 6813,
 'paper': 4552,
 'movie': 4158,
 'midnight': 4037,
 'huh': 3213,
 'fine': 2606,
 'tonexs': 6239,
 'subscription': 5880,
 'renewed': 5113,
 'charged': 1572,
 'choose': 1638,
 '10': 235,
 'polys': 4757,
 'month': 4135,
 'clubzed': 1692,
 'billing': 1220,
 '5p': 510,
 'alfie': 834,
 'moon': 4140,
 'children': 1622,
 'song': 5658,
 'm8s': 3864,
 'charity': 1574,
 'nokias': 4328,
 'poly': 4753,
 'zed': 6927,
 '08701417012': 72,
 'profit': 4882,
 'performed': 4621,
 'week': 6667,
 'taking': 6002,
 'live': 3741,
 'final': 2601,
 'chance': 1561,
 'worth': 6800,
 'discount': 2142,
 'vouchers': 6563,
 '85023': 623,
 'savamob': 5313,
 'member': 4007,
 'offers': 4407,
 'mobile': 4101,
 'pobox84': 4738,
 'm263uz': 3860,
 '00': 0,
 'subs': 5873,
 'themob': 6122,
 'yo': 6896,
 'comes': 1738,
 'selection': 5378,
 'hot': 3182,
 'downloads': 2218,
 'members': 4008,
 'free': 2721,
 'click': 1674,
 'open': 4455,
 'link': 3725,
 'sent': 5399,
 'fone': 2671,
 'guess': 2974,
 'excuse': 2460,
 'lol': 3771,
 'pleasure': 4712,
 'pain': 4535,
 'trouble': 6311,
 'pours': 4795,
 'rain': 4976,
 'sum1': 5908,
 'hurts': 3228,
 'becoz': 1164,
 'loves': 3817,
 'smiling': 5607,
 'broke': 1373,
 'small': 5598,
 'ah': 801,
 'confuses': 1791,
 'things': 6132,
 'doesn': 2172,
 'aight': 809,
 'sounds': 5681,
 'come': 1736,
 'use': 6460,
 'dial': 2091,
 'juz': 3511,
 'browser': 1383,
 'surf': 5940,
 'send': 5390,
 'id': 3253,
 'password': 4580,
 'sleeping': 5576,
 'bags': 1088,
 'blanket': 1249,
 'ringtone': 5195,
 'real1': 5023,
 'pushbutton': 4935,
 'dontcha': 2199,
 'babygoodbye': 1080,
 'golddigger': 2890,
 'webeburnin': 6656,
 '1st': 305,
 'join': 3472,
 'wk': 6756,
 'finally': 2602,
 'ready': 5021,
 'fyi': 2786,
 'okie': 4427,
 'scared': 5325,
 'say': 5318,
 'fat': 2542,
 'freemsg': 2727,
 'flirt': 2645,
 'date': 1981,
 'uks': 6376,
 'fastest': 2541,
 'growing': 2964,
 'dating': 1984,
 'msgs': 4173,
 'rcvd': 5009,
 '25p': 342,
 'optout': 4471,
 '83021': 604,
 'especially': 2410,
 'boston': 1306,
 'personal': 4631,
 'statement': 5786,
 'woulda': 6805,
 'changed': 1564,
 'realized': 5027,
 'nyc': 4382,
 'im': 3279,
 'computerless': 1770,
 'make': 3899,
 'oreo': 4481,
 'truffles': 6318,
 'discussed': 2145,
 'mother': 4148,
 'chikku': 1618,
 'thts': 6166,
 'nt': 4362,
 'able': 702,
 'congratulations': 1793,
 'thanks': 6104,
 '000': 1,
 'xmas': 6845,
 'easy': 2294,
 '08718726971': 136,
 'minute': 4060,
 'national': 4241,
 'rate': 4998,
 'sunshine': 5921,
 'hols': 3145,
 'med': 3988,
 'stamped': 5767,
 'self': 5379,
 'address': 752,
 'envelope': 2387,
 'drinks': 2239,
 '113': 249,
 'bray': 1339,
 'wicklow': 6716,
 'eire': 2330,
 'quiz': 4962,
 'starts': 5781,
 'saturday': 5311,
 'unsub': 6424,
 'cheesy': 1603,
 'songs': 5659,
 'frosty': 2758,
 'snowman': 5632,
 'romantic': 5215,
 'ì_': 6935,
 'immediately': 3285,
 'aft': 786,
 'lesson': 3681,
 'forgot': 2692,
 'pop': 4764,
 'em': 2341,
 'round': 5226,
 'solve': 5644,
 'case': 1516,
 'decimal': 2010,
 'afternoon': 787,
 'wife': 6720,
 'called': 1458,
 'police': 4751,
 'questioned': 4954,
 'murder': 4198,
 'took': 6246,
 'cook': 1822,
 'cooking': 1825,
 'gardener': 2805,
 'picking': 4665,
 'vegetables': 6502,
 'went': 6688,
 'neighbour': 4275,
 'marriage': 3936,
 'arrested': 961,
 'reason': 5032,
 'brilliant': 1361,
 'ìï': 6936,
 'predict': 4821,
 'wat': 6627,
 'buying': 1428,
 '0776xxxxxxx': 30,
 've': 6500,
 'invited': 3367,
 'xchat': 6842,
 'attempt': 1014,
 '86688': 631,
 'msgrcvdhg': 4172,
 'suite342': 5903,
 '2lands': 358,
 'row': 5230,
 'w1j6hl': 6573,
 'ldn': 3653,
 '18yrs': 297,
 'ref': 5070,
 'number': 4370,
 'k718': 3514,
 'arrive': 962,
 '09065069120': 197,
 'langport': 3620,
 'bed': 1166,
 '9pm': 683,
 'sucks': 5890,
 'ill': 3276,
 'go2sri': 2877,
 'lanka': 3622,
 'camera': 1472,
 'sipix': 5542,
 'digital': 2114,
 '09061221066': 179,
 'fromm': 2756,
 'delivery': 2041,
 '28': 347,
 'days': 1989,
 'missed': 4073,
 'dinner': 2123,
 'rite': 5199,
 'dad': 1956,
 'confirm': 1786,
 'wif': 6719,
 'right': 5190,
 '100': 236,
 'messages': 4024,
 'video': 6517,
 'half': 3002,
 'price': 4850,
 'line': 3718,
 'rental': 5115,
 '0800': 44,
 '0721072': 25,
 '07090201529': 21,
 'sen': 5389,
 'means': 3982,
 'obviously': 4391,
 'eggs': 2324,
 'pert': 4636,
 'potato': 4788,
 'head': 3056,
 'û_': 6937,
 'speak': 5696,
 'soon': 5663,
 'ha': 2990,
 'ate': 1004,
 'honey': 3153,
 'ar': 935,
 'sweet': 5964,
 '500': 488,
 'cd': 1536,
 '125gift': 264,
 'entry': 2383,
 'wkly': 6760,
 'music': 4202,
 '87066': 634,
 'ldew': 3652,
 'com1win150ppmx3age16': 1731,
 'comp': 1750,
 'win': 6730,
 'fa': 2499,
 'cup': 1929,
 'tkts': 6201,
 '21st': 328,
 '2005': 319,
 '87121': 637,
 'receive': 5045,
 'question': 4953,
 'std': 5795,
 'apply': 918,
 '08452810075over18': 66,
 'remember': 5099,
 'drinking': 2238,
 'appreciate': 922,
 'keeping': 3540,
 'company': 1752,
 'night': 4305,
 'smiles': 5605,
 '600': 516,
 'anytime': 902,
 'network': 4285,
 '400': 434,
 'calls': 1466,
 'deltomorrow': 2042,
 '08002888812': 50,
 'walmart': 6603,
 'idk': 3262,
 'saying': 5320,
 'moved': 4156,
 'butting': 1423,
 'heads': 3060,
 'freedom': 2723,
 'vs': 6566,
 'responsibility': 5156,
 'tired': 6191,
 'shit': 5467,
 'deal': 1995,
 'barely': 1113,
 'gets': 2842,
 'added': 748,
 'lovely': 3812,
 'wot': 6802,
 'drinkin': 2237,
 'dancin': 1964,
 'eatin': 2297,
 'cinema': 1650,
 'skype': 5569,
 'arngd': 956,
 'walkin': 6597,
 'unfortuntly': 6403,
 'snake': 5622,
 'bites': 1237,
 'dancing': 1965,
 'frnt': 2754,
 'amp': 862,
 'sayin': 5319,
 'bite': 1236,
 'carlos': 1507,
 'sis': 5546,
 'prefer': 4825,
 'tues': 6336,
 'wed': 6659,
 'fri': 2737,
 'oso': 4490,
 'workin': 6789,
 'drive': 2241,
 'raping': 4997,
 'dudes': 2266,
 'poker': 4747,
 'fair': 2514,
 'weaknesses': 6647,
 'grins': 2957,
 'pushes': 4936,
 'knee': 3577,
 'exposes': 2489,
 'belly': 1187,
 'pulls': 4922,
 'forget': 2688,
 'wicked': 6715,
 'blake': 1245,
 'occurs': 4396,
 'quite': 4959,
 'thought': 6150,
 'looked': 3783,
 'addie': 750,
 'monday': 4127,
 'germany': 2839,
 'pence': 4610,
 'fixed': 2628,
 'access': 715,
 '0844': 59,
 '861': 629,
 '85': 621,
 'prepayment': 4832,
 'direct': 2128,
 'monkeys': 4132,
 'certainly': 1553,
 'mind': 4048,
 'wiv': 6754,
 'wud': 6830,
 'annoyin': 882,
 'ganesh': 2798,
 'dress': 2233,
 'shop': 5478,
 'conacted': 1773,
 'entered': 2375,
 '09111030116': 230,
 'pobox12n146tf15': 4731,
 'billed': 1219,
 'mistake': 4080,
 'shortcode': 5486,
 '83332': 609,
 '08081263000': 55,
 'charges': 1573,
 'refunded': 5079,
 'angry': 874,
 'dr': 2222,
 'boo': 1290,
 'missing': 4075,
 'mr': 4164,
 'view': 6523,
 'having': 3052,
 'couple': 1856,
 'gays': 2815,
 'mean': 3980,
 'games': 2796,
 'bell': 1184,
 'ure': 6447,
 'practical': 4807,
 'lessons': 3682,
 'start': 5778,
 'june': 3505,
 'kay': 3536,
 'sat': 5304,
 'driving': 2244,
 'evaluation': 2423,
 'konw': 3588,
 'waht': 6585,
 'rael': 4972,
 'friendship': 2745,
 'gving': 2987,
 'yuo': 6921,
 'exmpel': 2470,
 'jsut': 3496,
 'ese': 2407,
 'tihs': 6178,
 'evrey': 2446,
 'splleing': 5731,
 'wrnog': 6819,
 'sitll': 5551,
 'raed': 4971,
 'wihtuot': 6723,
 'ayn': 1065,
 'mitsake': 4084,
 'goodnight': 2903,
 'dreams': 2231,
 'havent': 3048,
 'woke': 6769,
 'blur': 1277,
 'liao': 3688,
 'cum': 1928,
 'letter': 3685,
 'weather': 6652,
 'funny': 2781,
 'bluff': 1276,
 'izzit': 3414,
 'thk': 6142,
 'impossible': 3292,
 'battery': 1135,
 'died': 2104,
 'gram': 2931,
 '250': 339,
 'action': 736,
 '80608': 593,
 'movietrivia': 4160,
 'custcare': 1936,
 '08712405022': 108,
 '1x150p': 312,
 'fuckin': 2763,
 'showr': 5500,
 'desperate': 2071,
 'armand': 952,
 'yrs': 6915,
 'acc': 712,
 'probs': 4875,
 'hon': 3149,
 'doinat': 2184,
 'mo': 4098,
 'secure': 5366,
 'lemme': 3674,
 'south': 5685,
 'chill': 1625,
 'gei': 2826,
 'happend': 3024,
 'tron': 6310,
 'maybe': 3973,
 'dl': 2159,
 '3d': 416,
 'issues': 3397,
 'fix': 2626,
 'sunday': 5917,
 'continued': 1814,
 'support': 5931,
 'enter': 2374,
 'in2': 3297,
 'president': 4837,
 'ans': 885,
 '80082': 586,
 'mu': 4182,
 'swing': 5971,
 'somebody': 5647,
 'door': 2203,
 'wait': 6586,
 'photos': 4656,
 'useful': 6462,
 'kothi': 3591,
 'print': 4857,
 'marandratha': 3925,
 'effect': 2319,
 'irritation': 3386,
 'ignore': 3268,
 'wont': 6779,
 'bat': 1127,
 '2nd': 367,
 'innings': 3338,
 'gr8': 2925,
 'cool': 1826,
 'db': 1991,
 'hr': 3200,
 'trip': 6305,
 'bus': 1416,
 'audition': 1024,
 'wednesday': 6663,
 'freephone': 2728,
 '542': 502,
 '0578': 17,
 'left': 3666,
 'vague': 6479,
 'inform': 3327,
 'person': 4629,
 'accounting': 727,
 'delayed': 2034,
 'rent': 5114,
 'discuss': 2144,
 'housing': 3192,
 'agency': 794,
 'renting': 5116,
 'checking': 1594,
 'online': 4445,
 'places': 4691,
 'usc': 6459,
 'mmmmmm': 4093,
 'ahmad': 804,
 'begin': 1178,
 'takes': 6000,
 'closer': 1681,
 'story': 5829,
 'wish': 6744,
 'parents': 4559,
 'kids': 3559,
 'colleagues': 1719,
 'cabin': 1440,
 'pa': 4524,
 'boss': 1305,
 'felt': 2570,
 'special': 5698,
 'askd': 980,
 'apartment': 905,
 'bedroom': 1168,
 'sed': 5368,
 'sexy': 5421,
 'mood': 4139,
 'came': 1471,
 'minuts': 4062,
 'latr': 3639,
 'wid': 6717,
 'cake': 1444,
 'kidz': 3560,
 'screaming': 5345,
 'surprise': 5944,
 'sofa': 5636,
 'naked': 4223,
 'plans': 4699,
 'family': 2525,
 'stone': 5815,
 'okay': 4423,
 'drop': 2246,
 'cards': 1495,
 'nope': 4335,
 'pump': 4923,
 'petrol': 4640,
 'propose': 4904,
 'jon': 3482,
 'pete': 4638,
 'bin': 1225,
 'spain': 5691,
 'recently': 5049,
 'sum': 5907,
 'dinero': 2120,
 'åôrents': 6934,
 'mayb': 3972,
 '12': 256,
 '000pes': 2,
 ...}

In [21]:
## Transforming the data.

X_train_transformed = vect.transform(X_train)
X_test_transformed = vect.transform(X_test)

In [22]:
## Importing the Naive Bayes library & using MultinomialNB

from sklearn.naive_bayes import MultinomialNB

## Initializing the NB
nb = MultinomialNB()

## Fitting the models
nb.fit(X_train_transformed,Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [31]:
## Prediction

y_test_predict = nb.predict(X_test_transformed)


## prediction probability
Y_test_proab = nb.predict_proba(X_test_transformed)


## Accuracy
from sklearn import metrics
acc = metrics.accuracy_score(y_test_predict, Y_test)

print("Prediction On Test Data:", acc)

Prediction On Test Data: 0.9832535885167464

In [32]:
## Classification Report

print(metrics.classification_report(y_test_predict, Y_test))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99      1459
           1       0.92      0.95      0.94       213

   micro avg       0.98      0.98      0.98      1672
   macro avg       0.96      0.97      0.96      1672
weighted avg       0.98      0.98      0.98      1672

In [33]:
## Confusion Matrix

metrics.confusion_matrix(y_test_predict, Y_test)

array([[1442,   17],
       [  11,  202]], dtype=int64)

In [26]:
## Persist the model for future use.

from sklearn.externals import joblib
joblib.dump(nb, 'NB_spam_model.pkl')

['NB_spam_model.pkl']

In [27]:
NB_spam_model = open('NB_spam_model.pkl', 'rb')
bnb = joblib.load(NB_spam_model)

In [36]:
## Checking the model on training datasets.

acc_train = nb.score(X_train_transformed, Y_train)

print("Accuracy on Train data:", acc_train)

Accuracy on Train data: 0.9953846153846154

As the accuracy on train dataset & test dataset are almost same, hence our models is not overfitting.